* {
    margin: 0;
    padding: 0;
}

/* common shared styles */

body {
    font-family: "Work Sans", sans-serif;
}



.btn-primary {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: 0;
    padding: 20px 25px;
    color: rgb(0, 95, 172);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

main {
    width: 1140px;
    margin: auto;
}

.section-title {
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
}

.primary-description {
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}

/* header styles */

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-section {
    text-align: right;
    padding: 300px 200px 250px 0px;
}

.header-title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}


.header-description {
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
}

/* failure-section styles */

.failure-section {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 130px 0px;
}

.failure-section li {
    color: rgb(68, 67, 67);
    font-weight: 400;
    line-height: 26px;
    margin-left: 15px;
}

.failure-img {
    border: 2px dashed #D9D9D9;
}


/* My Plan section styles */

.plan-section-title {
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    justify-content: space-between;
}

.plan-info-container {
    text-align: center;
}

.plan-title {
    color: rgb(21, 20, 20);
    font-size: 30px;
    font-weight: 700;
    margin: 16px 0px;
}

.plan-info {
    color: rgb(115, 114, 114);
    font-size: 25px;
    font-weight: 500;
}

/* positive mindset section styles */

.mindset-section {
    background-image:linear-gradient(90.00deg, rgb(0, 95, 172),rgba(0, 95, 172, 0) 90%), url('../images/watch.png');
    background-size: cover;
    margin: 130px 0px;
    padding: 60px;
    border-radius: 8px;
}

.mindset-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 20px;
}